<div class="system-message" [@load]>
    <div class="header">System</div>
    <div class="message">
        <span class="break-word">
            {{confirmMessage}} 
        </span>
    </div>

    <div class="buttons">
        <button mat-raised-button
        style="background-color: lightgray"
        (click)="confirm(true)"> Yes</button>
      
        &nbsp;
        <button mat-raised-button
        style="background-color: lightgray"
        (click)="confirm(false)"> No</button>
        
    </div>
</div>