.system-message{
    width: 100%;
    max-width: 450px;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    z-index: 100000;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.75);
}

.header{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: black;
    font-size: 1.4rem;
    background-color: lightblue
}

.message {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem
}

.close-message{
    float: right;
}

.close-message:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.button{
    padding: 0.5rem;
    color: white;
    background-color: gray;
    margin-right: 0.5rem;
    min-width: 50px;
    text-align: center;
}

.button:first{
    margin-right: 0.5rem;
}

.button:hover{
    cursor: pointer;
}

.break-word{
    display: inline-block;
    width: 100%;
    word-wrap: break-all;
    overflow-wrap: break-word;
}
